html,
body {
  height: 100%;
}

body {
  font-size: 14px;
  font-family: system-ui, '-apple-system', 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
}

.start {
  background: #000;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    color: #fff;
    font-size: 42px;
    margin: 0;
  }

  p {
    color: #555;
    margin: 0 0 20px;
    font-size: 12px;
  }

  a {
    color: #03a9f4;
    position: relative;
    text-decoration: none;

    &::after {
      content: '';
      background: rgba(3, 201, 244, 0.5);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 6px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
    }

    &:hover::after {
      opacity: 1;
      visibility: visible;
    }
  }

  span {
    color: #444;
    margin-right: 5px;
  }
}

.links {
  display: flex;

  & .link {
    margin: 0 25px;
  }
}
